@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{

  .slide-top{
    animation: slide-top 1.2s cubic-bezier(0.645, 0.045, 0.355, 1) both;
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }

  50% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  60% {
    -webkit-transform: translateY(-70px) rotate(90deg);
    transform: translateY(-70px) rotate(90deg);
  }

  100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
}
.slide-out{
  animation: slide-post 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
  @keyframes slide-post {
    50% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  
    100% {
      -webkit-transform: translateY(-60px);
      transform: translateY(-60px);
    }
  }
  
  .glass-card {
    background: white;
    background: linear-gradient(
      to right bottom,
      rgba(219, 232, 240, 0.2),
      rgba(219, 232, 240, 0.2)
    );
    
  }
}

  
